{% extends 'base.html' %}

{%block title%}<title>{{ recipe_object.title }} - Add Ingredients</title>{%endblock title%}

{% block content%}

<main>
    <h2>Add Ingredients</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Add</button>
    </form>
</main>

{%endblock content%}