{% extends 'base.html' %}

{%block title%}<title>{{ recipe_object.title }} - Scrumptious Recipies</title>{%endblock title%}

{% block content%}

<main>
    <h2>Create Recipe</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</main>

{%endblock content%}