{% extends 'base.html' %}

{% block title %}
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
{% endblock title %}

{% block content %}
<main>
    <div class="vegetarian">
        <h2>{{ recipe_object.title }}</h2>
        <img src="{{ recipe_object.picture }}" class="detail_img">
        <br>
        {% if user.is_authenticated %}
            {% if user == recipe_object.author or user.is_superuser %}
                <a href="{% url 'edit_recipe' recipe_object.id %}"><button class="edit-button">Edit Recipe</button></a>
            {% endif %}
        {% endif %}
        <h3 class="ingredients">Ingredients</h3>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table_headers"><b>Amount</b></th>
                        <th class="table_headers"><b>Food item</b></th>
                    </tr>
                </thead>
                <tbody class="ingredients">
                    {% for ingredient in recipe_object.ingredients.all %}
                        <tr> 
                            <td>
                                {% if user.is_authenticated %}
                                    {% if user == recipe_object.author or user.is_superuser %}
                                        <a href="{% url 'edit_ingredient' ingredient.id %}">{{ ingredient.amount }}</a>
                                    {% else %}
                                        {{ ingredient.amount }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_authenticated %}
                                    {% if user == recipe_object.author or user.is_superuser %}
                                        <a href="{% url 'edit_ingredient' ingredient.id %}">{{ ingredient.food_item }}</a>
                                    {% else %}
                                        {{ ingredient.food_item }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if user.is_authenticated %}
            {% if user == recipe_object.author or user.is_superuser %}
                <a href="{% url 'create_ingredient' %}"><button class="button">Add Ingredients</button></a>
            {% endif %}
        {% endif %}

        <div class="steps-container">
            <h3 class="steps2">Steps</h3>
            <ol class="steps">
                {% for step in recipe_object.steps.all %}
                    <li>
                        {% if user.is_authenticated %}
                            {% if user == recipe_object.author or user.is_superuser %}
                                <a href="{% url 'edit_step' step.id %}">{{ step.instruction }}</a>
                            {% else %}
                                {{ step.instruction }}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>

        {% if user.is_authenticated %}
            {% if user == recipe_object.author or user.is_superuser %}
                <a href="{% url 'create_step' %}"><button class="button">Add Steps</button></a>
            {% endif %}
        {% endif %}
    </div>
</main>
{% endblock content %}
