{% extends 'base.html' %}

{%block title%}<title>{{ recipe_object.title }} - Scrumptious Recipies</title>{%endblock title%}

{% block content %}
    <main>
        <h2>Edit Recipe</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="edit-button">Edit</button>
        </form>
        <a href="{% url 'delete_recipe' recipe_object.id %}"><button class="delete-button">Delete</button></a>
    </main>
{% endblock content %}









   