{% extends 'base.html' %}

{% block title %}
    <title>Scrumptious Recipes</title>
{% endblock title %}

{% block content %}
<main>
    <h2 class="scrumptious-recipes">Scrumptious Recipes</h2>
    <h3 class="all-food">All the food that's fit to eat</h3>
    <div class="grid_background">
        <div class="food-list">
            {% for recipe in recipe_list %}
            <div class='image_block'>
                <h3>
                    <a class='food_name' href="{% url 'show_recipe' recipe.id %}" class="tacos">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture }}">
                <p class='date_created'>Date Created: {{ recipe.created_on|date:"SHORT_DATE_FORMAT" }}</p>
                {% if recipe.updated_on %}
                    <p class='date_updated'>Last Updated: {{ recipe.updated_on|date:"SHORT_DATE_FORMAT" }}</p>
                {% endif %}
                {% if recipe.author.first_name%}
                    <p><b>Author: {{ recipe.author.first_name }} {{ recipe.author.last_name }}</b></p>
                {% else %}
                    <p><b>Author: {{ recipe.author.username }}(Admin)</b></p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
</main>
{% endblock content %}
