{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<style>
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
  }

  h1 {
      font-size: 24px;
      margin-bottom: 20px;
  }

  form {
      width: 300px;
  }

  form input[type="text"], form input[type="password"], form input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }

  button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
  }

  button:hover {
      background-color: #45a049;
  }
</style>
<main>
  <h1>Sign up!</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Sign up</button>
  </form>
</main>
{% endblock content %}