@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
}

/* General Styles */
html {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

img {
    width: 210px;
    height: 210px;
    border-radius: 25%;
    margin: 1em 0;
}

/* Navigation Styles */
nav {
    background-color: #FF9F1C;
    overflow: hidden;
    height: 4em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Space Grotesk', sans-serif;
    display: inline-block;
    padding: 12px 14px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 25px;
    font-weight: 400;
    transition: background-color 0.3s, border-radius 0.3s;
}

.nav1 ul li:hover a {
    background-color: #5B6777;
    border-radius: 80%;
}

/* Footer Styles */
footer {
    background-color: #5B6777;
    position: fixed;
    bottom: -8%; 
    width: 100%;
    height: 8%;
    transition: bottom 0.3s; 
}

body {
    min-height: 100vh; 
    margin-bottom: 100px;
}

.footer-text {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    padding-top: 5px;
}

/* Header Styles */
.scrumptious-recipes {
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    font-weight: bold;
    margin: 40px auto;
    background-color: #CB997E;
    width: 600px;
    border: 5px solid;
}

/* Content Styles */
main {
    text-align: center;
}

.all-food {
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tacos {
    display: flex;
    margin-bottom: 20px;
    margin-left: 1em;
}

.vegetarian {
    margin-left: .2em;
}

h2 {
    margin: 1em;
}

.steps-container ol {
    max-width: 600px; 
    margin: auto;
    list-style-position: inside; 
}

.steps-container ol li {
    text-align: center; 
    margin-bottom: 10px; 
}




.steps2,
.ingredients {
    margin: 1em;
}

.table-container {
    background-color: white;
    margin: 2em auto;
    width: 60%;
    box-shadow: 0 0 20px rgb(139, 137, 137);
    padding: 10px;
}

.table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
}

.table th {
    background-color: white;
}

.table tr:nth-child(odd) {
    background-color: lightblue;
}

#Amount_food_item,
#food-item {
    background-color: white;
    margin: 2em auto;
    width: 60%;
    border-radius: 10%;
    box-shadow: 0 0 20px rgb(139, 137, 137);
    padding: 3em 0;
}

.hello {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 12px 14px;
}

.no_account {
    color: black;
}

.food_name {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: rgb(11, 115, 13);
    margin-bottom: 10em;
    transition: color 0.3s, font-weight 0.3s, padding 0.3s;
}

.food_name:hover {
    color: black;
    font-weight: bold;
    padding: 4px;
}

.date_created {
    font-size: 12px;
}

.image_block {
    text-align: center;
    width: 30%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.food-list {
    width: 100%;
    text-align: center;
    margin: 2em auto;
    background-color: #ffefda;
    padding: 3em 0;
    width: 60%;
    border-radius: 10%;
    box-shadow: 0 0 20px rgb(139, 137, 137);
}

/* Navigation Bar Styles */
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-items,
.right-items {
    display: flex;
    list-style-type: none;
}

.left-items li {
    margin-right: 20px;
}

.right-items {
    padding: 12px 14px;
}

.right-items li {
    margin-left: 20px;
}

.logout_nav:hover {
    background-color: #56946e;
    border-radius: 80%;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button {
    background-color: #4caf50;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

