{% extends 'base.html' %}

{%block title%}<title>{{ recipe_object.title }} - Delete Ingredient</title>{%endblock title%}

{% block content%}

<main>
    <h1>Are you sure?</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</main>

{%endblock content%}
    