{% extends 'base.html' %}

{%block title%}<title>{{ recipe_object.title }} - Scrumptious Recipies</title>{%endblock title%}

{% block content%}

<main>
    <h2>Edit Step</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Edit</button>
    </form> 
    <a href="{% url 'delete_step' step_object.id %}"><button>Delete</button></a>
</main>

{%endblock content%}