{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock title%}
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav class="nav1">
            <ul class="left-items">
                <li><a href="{% url 'recipe_list' %}">Main Page</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'create_recipe' %}">Create Recipe</a></li>
                    <li><a href="{% url 'my_recipe_list' %}">My recipes</a></li>
            </ul>
            <ul class="right-items">
                {% if user.first_name %}
                    <li class="hello">Hello, {{ user.first_name }}</li>
                {% else %}
                    <li class="hello">Hello, Admin</li>
                {% endif %}
                <li><a class="logout_nav" href="{% url 'user_logout' %}">Logout</a></li>
            </ul>
                    {% else %}
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                {% endif %}
        
        </nav>
    </header>
   {% block content%}
   
   {% endblock content%}
    <footer>
        <p class="footer-text">Made with love by Scrumptious Recipes</p>
    </footer>

    <script>
        var lastScrollTop = 0;

        function updateFooterPosition() {
            var footer = document.querySelector('footer');
            var windowHeight = window.innerHeight;
            var bodyHeight = document.body.offsetHeight;
            var scrollPosition = window.scrollY || window.pageYOffset;
            var scrollDirection = scrollPosition > lastScrollTop ? 'down' : 'up';

            if ((scrollPosition + windowHeight >= bodyHeight || bodyHeight <= windowHeight) && scrollDirection === 'down') {
                footer.style.bottom = '0';
            } else {
                footer.style.bottom = '-8%';
            }

            lastScrollTop = scrollPosition;
        }

        window.addEventListener('load', updateFooterPosition);

        window.addEventListener('scroll', updateFooterPosition);
    </script>

</body>
</html>